@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
.CodeMirror {
    text-align: left;
    border: 1px solid #eee;
    font-family: 'Source Code Pro';
}
html,
body {
    font-family: 'Source Code Pro';
    height: 100%;
    font-size: 10px;
    overflow: hidden;
}
/*--*/

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100%;
}
#row-a {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 50%;
}
#row-b {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 50%;
}
/* -- */

#manifest {
    flex-basis: 150px;
    background-color: #2f4f4f;
}
#composition {
    flex: 1;
    background-color: #708090;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#params {
    flex-basis: 470px;
    background-color: #e6e6e6;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    text-align: right;
}
/* -- */

#io {
    flex: 2;
    background-color: #708090;
}
#render {
    flex: 3;
    background-color: #333333;
    width: 100%;
    height: 100%;
}
#env {
    flex: 1;
    font-family: 'Source Code Pro';
    background-color: #aaaaaa;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}
#env .env-vars.env-vars-0 {
    border: 1px solid red;
    padding: 10px;
    background-color: #fafafa;
}
#env .env-vars {
    border: 1px solid orange;
    padding: 10px;
    margin-top: 1px;
    background-color: #cccccc;
}
/* -- */

svg {
    max-height: 100%;
}
label {
    vertical-align: top;
}
.face {
    fill: #A3B2C1;
}
.face.selected {
    fill: #ff0000;
}
/* */