/js/views/.#library-item-view.js
/js/views/#library-item-view.js#
/bloqsnet/node_modules
/components
/lib
/svg
/Hackensack.sublime-project
/Hackensack.sublime-workspace
/bloqsnet/.sublime-grunt.cache
/bloqsnet/.tern-port
/bower_components/*
/react_components/parenHighlightingInput/node_modules/*
/react_components/scalarUnitInput/node_modules/*